{% extends 'base.html'%}

{% block title %} About {% endblock title %} 

{% block body %} 
<h2 style=" margin-top: 2%; text-align:center"><strong><em>This website is made by students of "IIITNR".
            <br></em></strong> </h2>
<div class="row">
    <div class="column" >
        <div class="card" style="margin-top:22px;  background-color: rgb(7, 216, 35) ; width: 500px;">
            <div class="container" style="margin-block-start: 5px; text-align:center">
                <h2>Subhanshu Arya</h2>
                <p class="title"> Email - subhanshu20101@iiitnr.edu.in </p>


            </div>
        </div>
    </div>
    <div class="column">
        <div class="card" style="margin-top:22px;  background-color: rgb(7, 216, 35) ; width: 500px;">
            <div class="container" style="margin-block-start: 5px; text-align:center">
                <h2>Aniket Kumar</h2>
                <p class="title"> Email - aniket20102@iiitnr.edu.in </p>


            </div>
        </div>
    </div>
    <div class="column">
        <div class="card" style="margin-top:22px;  background-color: rgb(7, 216, 35) ; width: 500px;">
            <div class="container" style="margin-block-start: 5px; text-align:center">
                <h2>Kishan Gopal Mishra</h2>
                <p class="title"> Email - kishan20100@iiitnr.edu.in </p>


            </div>
        </div>
    </div>

    <h2 style=" margin-top: 5%; text-align:left"><strong><em>Guided & Co-ordinated by <br></em></strong> </h2>

    <div class="column">
        <div class="card" style="margin-top:22px;  background-color: rgb(7, 216, 35) ;">
            <div class="container" style="margin-block-start: 5px;">
                <h2 style="text-align: left;">Alluri L S V Siddhartha Varma <br>
                    Aneesh bhattacharya <br>
                    Ankit sharma</h2>
                <p class="title"></p>
                

            </div>
        </div>
    </div>


</div>
{% endblock body %}
