{% extends 'base.html'%}

{% block title %} Listen {% endblock title %}

{% block body %}
<div class="container my-5">       <!--Thumbnail-->
<h1 class="my-6 text-center"><em><q>Listen to the amazing podcasts at just one tap</q></em></h1>
      <div style="margin-top: 5%;" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for mp3 in mp3_list %}
        <div class="col" style="align-items: flex-start;">

          <div class="card shadow-sm" >
            <img width="320" height="240" src="https://d3jmn01ri1fzgl.cloudfront.net/photoadking/webp_thumbnail/5ff5697805753_json_image_1609918840.webp" class="d-block w-100" alt="..."> 
            
            <div style="background-color: rgb(7, 216, 35);" class="card-body">

              <audio controls src="media\{{mp3.mp3}}"></audio>
              
              <strong>
              <p style="text-align: center;" class="card-text">{{mp3.pname}}<br><em>-by {{mp3.name}}</em></p>
              </strong>
            </div>
          </div>
        </div>
        {% endfor %}
        
        

        

        
        
        
      </div>
  </div>
{% endblock body %}