{% extends 'base.html'%}

{% block title %} Listen {% endblock title %} 

{% block body %} 
<div class="row " style="margin-top: 50px;">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
               <audio controls src="Halka_Halka_Suroor_X_Raabta_320PagalWorld.com.se_aVtLSB3.mp3"></audio>
               <div class="card-body">
                  <p class="card-text">Halka_Halka_Suroor_X_Raabta by kishan</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                 <audio controls src="static\Halka_Halka_Suroor_X_Raabta_320PagalWorld.com.se.mp3"></audio>
                 <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                 <audio controls src="static\Halka_Halka_Suroor_X_Raabta_320PagalWorld.com.se.mp3"></audio>
                 
                 <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                 <audio controls src="static\Halka_Halka_Suroor_X_Raabta_320PagalWorld.com.se.mp3"></audio>
                 <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                 <audio controls src="static\Halka_Halka_Suroor_X_Raabta_320PagalWorld.com.se.mp3"></audio>
                 <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                 <audio controls src="static\Halka_Halka_Suroor_X_Raabta_320PagalWorld.com.se.mp3"></audio>
                 <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                 <audio controls src="static\Halka_Halka_Suroor_X_Raabta_320PagalWorld.com.se.mp3"></audio>
                 <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                 <audio controls src="static\Halka_Halka_Suroor_X_Raabta_320PagalWorld.com.se.mp3"></audio>
                 <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                 <audio controls src="static\Halka_Halka_Suroor_X_Raabta_320PagalWorld.com.se.mp3"></audio>
                 <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                 <audio controls src="static\Halka_Halka_Suroor_X_Raabta_320PagalWorld.com.se.mp3"></audio>
                 <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
                
          </div>
{% endblock body %}